@radius: 40px;
@border-width: 3px;
body {
  > header { text-align: center;
    figure { display: inline-block; position: relative;
      &:before { content: ''; position: absolute; top: @border-width; left: @border-width; bottom: @border-width;
        right: @border-width; border-radius: @radius; box-shadow: 0 0 2px 1px fadeout(black, 80%) inset; }
      img { box-shadow: 0 0 2px 0 fadeout(black, 60%); border-radius: 43px; vertical-align: top;
        border: 3px solid white;
      }
    }
    hgroup { text-align: center; margin-top: 1rem;
      text-shadow: fadeout(black, 50%) 0 0 -1px; }
    nav { display: none; }
  }
}
