@import "../_base/utils";
@import "../../bower_components/less-elements/elements";
@radius: 40px;
@border-width: 3px;

@_color-bg-nav: hsl(164, 47%, 43%);
body {
  > header { text-align: center; padding: 10px 0; position: relative;

    @media (min-width: 1024px) {
      background: white url(/images/bg_header.jpg) no-repeat center center;
      background-size: cover;
      color: white;
      box-shadow: -1px 0px 0 fadeout(black, 80%) inset ;
    }
    @media (max-width: 1023px) {
      border-top: 6px solid darken(@color-link, 15%);
    }

    figure { display: inline-block; position: relative;
      a { display: inline-block;
        > canvas { transition: all .8s;
          -webkit-transform: rotateY(0deg) rotate(45deg);
        }
        &:hover > canvas { -webkit-transform: rotateY(180deg) rotate(45deg); }
      }
    }

    hgroup { text-align: center; margin-top: 1rem; text-shadow: fadeout(black, 50%) 0 0 -1px;
      h1 { font-weight: 300;
        @media (min-width: 1024px) {
          text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.2);
        }
      }
      h3 { font-weight: 300;
        @media (min-width: 1024px) {
          text-shadow: 1px 1px 0px @color-bg-header, 0 0 0 black;
          color: fadeout(darken(@color-bg-header, 20%), 20%);
        }
        @media (max-width: 1023px) {
          text-shadow: 1px 1px 0px white, 0 0 0 black;
          color: fadeout(@color-link, 20);
        }
      }
    }

    nav { position: absolute; width: 100%; bottom: 0;
      @media (max-width: 1023px) {
        display: none;
      }
      @media (min-width: 1024px) {
        margin-top: 1em;
        ul {
          li { padding: 10px; text-align: center;
            a { min-width: 6em; display: inline-block; padding: 10px 15px; background: fadeout(@_color-bg-nav, 10%);
              .rounded(50px); border: 1px solid darken(@_color-bg-nav, 5%);
              box-shadow: inset 0px 1px 0px fadeout(white, 50%), 0px 1px 2px fadeout(black, 85%);
              line-height: 1; text-shadow: 0 -1px 1px darken(@_color-bg-nav, 20%);
              &:hover {
                .gradient(@_color-bg-nav, darken(@_color-bg-nav, 10%), lighten(@_color-bg-nav, 10%));
              }
            }
          }
        }
      }
    }
  }

}
