/*!layout.less*/
@media screen {
  @media (min-width: 480px) {
    body {
      > header {
        position: fixed;
        height: 100%;
        background-color: #f00;
        width: 300px;
      }
    }
  }
  @media (max-width: 480px) {
    header { background-color: black; }
  }
}

